@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap');

/*  général  */

    body{
        margin: 0px;
    }

    #bloc_page{
        font-family: 'Raleway', arial, serif;
    }

    p{
        color: #797979;
    }

    h1{
        font-size: 1.37em;
        margin-bottom: 3px;
    }

    h2{
        margin-left: 10px;
        padding-top: 25px;
        font-size: 1.37em;
    }

/* header */

    header{
        display:flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 25px;        
    }

    #logo{
        margin-left: 10px;
    }

    nav:nth-child(2){
        order: 3;
    }

    nav:nth-child(3){
        order: 2;
    }

    nav{
        width: 100%;      
    }

    nav ul{
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        margin-top :0px;
        padding-left: 0px;     
    }

    nav li{
        padding-top: 16px;
        padding-bottom: 16px;
        width: 50%;
        text-align: center;
    }

    nav a{
        text-decoration: none;
        color: black;
        padding-top: 16px;
        padding-bottom: 16px;
        width: 50%;
        text-align: center;
    }

    nav li:hover{
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 13px;   
    }

    #signup{
        max-width: 80px;
        color: #0065FC;
        font-weight: bold;
        margin-right: 10px;
    }

/* Titre */

    #titre{
        padding: 10px;
        padding-top: 0px;
    }

/* form_recherche */

    #filtres, #resultat_recherche{
        margin: 20px;
        
    }

    .saisie{
        display: flex;
        margin: 10px;
    }

    .saisie i{
        font-size: 18px;
    }


    .btn_localisation{
        border: none;
        background: #F2F2F2;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        width: 51px;
        height: 51px;
    }

    .champ_saisie{
        padding: 10px;
        border: none;
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
        font-weight: 900;
    }

    .btn_rechercher_ico{
        border: none;
        background: #0065FC;
        color: white;
      
        border-radius: 15px;
        width: 51px;
        height: 51px;
    }

    .btn_rechercher_txt{
        border: none;
        background: #0065FC;
        color: white;
        padding: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        font-weight: 600;
        display: none;
    }

    #filtres{
        font-weight: 600;
        display: flex;       
        flex-wrap: wrap;
        align-items: center;
    }

    #filtres h2{
        width: 100%;
        margin-bottom: 10px;
    }

    #filtres i{
        width: 25px;
        height: 25px;
        padding: 10px;
        background: #DEEBFF;
        border-radius: 50%;
        color: #0065FC;
        padding-top: 13px;
        padding-bottom: 5px;
    }

    #filtres a{
        padding-right: 15px;
        border: 2px solid #F2F2F2;
        border-radius: 25px;
        text-decoration: none;
        margin-right: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    #filtres p{
        color: black;
        padding-left: 5px;;
    }

    #filtres a:visited{
        color: black;
    }

    #filtres a:hover{
        box-shadow: 10px 10px 10px #797979;
    }

    .icone_information{
        display: inline-block;
        border: 1px solid #797979;
        width: 20px;
        text-align: center;
        border-radius: 50%;
        font-family: 'Cooper Black' , arial, serif;
        color: #0065FC;
    }

/* Section Hébergement */

    .panel_1, .panel_2{
        padding: 10px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .panel_1{
        background: #F2F2F2;
    }

    #bloc_titre{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    .panel_1 h2, .panel_2 h2{

        margin-bottom: 25px;
    }

    .bloc_img_carre{
        background: white;
        border-radius: 25px;
        font-size: 0.75em;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .bloc_img_carre h3{
        padding-top: 10px;
        padding-right: 10px;
        font-size: 1.36em;
        margin: 0px;
    }

    .bloc_img_carre img{
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        padding: 5px;
        width: 135px;
        height: 147px;
        object-fit: cover;
    }

    .info_hotel{
        margin-left: 15px;
        margin-right: 15px;
        width: 195px;
        height: 140px;
    }

    .bloc_img_carre i{
        padding-top: 30px;
    }

    .fa-star{
        color: #F2F2F2;
    }

    .active{
        color: #0065FC;
    }

    .diaporama{
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .bloc_img_paysage{
        background: white;
        border-radius: 25px;
        font-size: 0.75em;
        margin-bottom: 25px;
        box-shadow: 6px 6px 3px #F2F2F2;
        width: 335px;
    }

    .bloc_img_paysage h3{
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 1.36em;
        margin: 0px;
    }

    .bloc_img_paysage p{
        padding-left: 15px;
        padding-bottom: 5px;
        margin: 0px;
    }

    .bloc_img_paysage img{
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        padding: 5px;
        width: 325px;
        height: 115px;
        object-fit: cover;
    }

/* footer */

    footer{
        background: #F2F2F2;
        font-size: 0.6em;
        padding-left: 15px;
    }

    footer h2{
        padding-top: 25px;
        padding-bottom: 5px;
        font-size: 1.2em;
        font-weight: bold;
    }

    footer ol{
        list-style: none;
        padding-left: 0px;
        padding-right: 100px;
    }

    footer li{
        padding-top: 5px;
        padding-bottom: 5px;
    }

/* Media queries */

/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {

    header{
        margin: unset;
        justify-content: unset;
    }   

    #logo{
        flex: 2;
        padding-top: 14px; 
    }

    #signup{
        padding-top: 18px;
    }

    nav{
        width: 320px;
        align-content: center;
    }

    nav li{
        padding-top: 50px;
    }

    nav li:hover{
        padding-top: 47px;
        border-top: 3px solid #0065FC;
        border-bottom: none;
    }

    nav:nth-child(2){
        order: unset;
    }

    nav:nth-child(3){
        order: unset;
    }

    /* Filtres */

    #filtres h2{
        width: 80px;
        margin: unset;
        margin-bottom: 10px;
    }

    .btn_rechercher_ico{
        display: none;
    }

    .btn_rechercher_txt{
        display: unset;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    /* Hébergement */

    #hebergement{
        display: flex;
    }

    .panel_1, .panel_2{
        margin: 15px;
        border-radius: 25px;
    }

    .panel_2{
        background: #F2F2F2;
    }

    .bloc_img_paysage{
        width: unset;
    }

    .bloc_img_paysage img{
        width: 235px
    }

    aside.panel_1{
        order: 1;
        max-width: 400px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    /* Acitivités */

    h2{
        margin-left: 15px;
    }

    #activite .diaporama{
        align-items: flex-start;
    }

    #activite .diaporama .bloc_img_paysage{
        margin-bottom: 45px;
    }

    #activite .diaporama .bloc_img_paysage img{
        width: 300px;
    }

    .img31 img, .img34 img{
        height: 390px;
    }

    .img32 img{
        height: 185px;
    }

    .img33 img{
        height: 110px;
    }

    .img35 img{
        height: 140px;
    }

    .img36 img{
        height: 155px;;
    }

    footer{
        display: flex;
        justify-content: space-between;
    }

    footer ol{
        flex: 1;
    }

    footer h2{
        margin: unset;
        padding-bottom: 10px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}