@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap');

/* BROUILLON */

#bloc_page{
    border: 1px dotted red;
    margin: auto;
}

header{
    border: 1px none orange;
}

div, nav{
    border: 1px none black;
    width: 95%;
}

nav ul{
    border: 1px none black;
}

section{
    border: 1px solid rgb(14, 168, 14);
}

footer{
    border: 1px solid orange;
}

/*  CSS  */

#bloc_page{
    font-family: 'Raleway', arial, serif;
}

p{
    color: #797979;
}

h1{
    font-size: 1.37em;
    margin-bottom: 3px;
}

    header{
        display:flex;
        align-items: center;        
    }
        nav ul{
            list-style-type: none;
            display: flex;
        }

        nav li{
            margin-right: 50px;
        }

        #titre p{
            margin-top: 3px;
        }

        #signup{
            max-width: 80px;
            color: #0065FC;
            font-weight: bold;
        }


    #filtres{
        text-transform: capitalize;
        margin-top: 20px;
        font-weight: bold;
    }

        #filtres a{
            margin: 15px;
        }

    .icone_information{
        display: inline-block;
        border: 1px solid #797979;
        width: 20px;
        text-align: center;
        border-radius: 100%;
        font-family: 'Cooper Black' , arial, serif;
        color: #0065FC;
    }